Options -Indexes
DirectoryIndex index.php
<IfModule mod_headers.c>
  Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
<FilesMatch "\.(js|css|png|gif)$">
  <IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 7 days"
  </IfModule>
</FilesMatch>
